.azcapotzalco { background-color: #CD032E; }        
.cuajimalpa { background-color: #F08200; }
.iztapalapa { background-color: #57A519; }        
.lerma { background-color: #AD25A8; }
.xochimilco { background-color: #0072CE; }
